/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    /* add font family to body */
    font-family: 'montserrat', sans-serif;

}

/* style image logo */
#logo img {
    width: 200px;
    height: 200px;
    mix-blend-mode: multiply;
}
/* Header */
header {
    background-color: #f6bfc0;

}


nav ul {
    display: inline-block;
    flex: center;
}

.navigation {
    list-style: none;
    display: flex;
    /* Use flexbox to create a horizontal layout */
    background-color: #f6bfc0;
    /* Add some padding to space out the items */
    padding: 1;
    text-align: center;
    
}

.navigation li {
    margin-right: 20px;
    /* Add some margin between the items */
    font-weight: bold;
    color: #3a3a3a;
    
}

.nav-container {
    display: flex;
    justify-content: center;
    outline: 2px solid #f6bfc0;
    padding: 10px;
    background-color: #f6bfc0;
   
}

/* Main */
main {
    background-color: cornflowerblue;
    /* Make main element to push foother down */
    flex: 1 0 auto;
}
/* Footer */
footer {
    background-color: #facd48;
}